@import "src/styles/variables";
@import "src/styles/mixins";

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: $screen_sm) {
    &:hover {
      .underline {
        width: 100%;
      }
    }
  }
}

.underline {
  position: absolute;
  bottom: -5px;
  width: 0;
  border-bottom: 2px solid $white;
  transition: $transition-default;
}

.activeUnderline {
  width: 100%;
}

.active {
  width: 100%;
}

.inactive {
  opacity: 0.5;
}

.left {
  margin-right: 1.5625rem;
}

.right {
  margin-left: 0;
}

.justify {
  padding: 0 0.625rem;
}

.big {
  @include body-font(1.5rem, 700, $white);
}

.medium {
  @include body-font(1rem, 600, $white);
}

.small {
  @include body-font(0.8rem, 600, $white);
}

.center {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.fullWidth {
  flex: 1;
}
