@import "src/styles/variables";

.careCoveCommunity {
  padding: 60px 0;
  text-align: center;
  background-color: #fff5f5;

  .title {
    margin-bottom: 20px;
    color: #733156;
  }

  .carouselContainer {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .carousel {
    width: 50%; /* Occupy half of the container width */
    @media (max-width: $screen_sm) {
      width: 100%; /* Occupy full width on smaller screens */
    }
  }

  .testimonial {
    background-color: $electric-sunset;
    padding: 40px 60px;
    border-radius: 12px;
    text-align: center;
    color: #ffffff;
    margin: 0 auto; /* Center align the testimonial within the carousel */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 800px;
    justify-content: center;
    @media (max-width: $screen_sm) {
      padding: 40px;
    }

    .image {
      margin-bottom: 40px;
      width: 260px;
      height: 260px;
      border-radius: 50%;
      @media (max-width: $screen_sm) {
        width: 200px;
        height: 200px;
      }
    }

    .receipt,
    .quote {
      padding-bottom: 30px;
      border-bottom: 1px solid $white;
      margin-bottom: 30px;
      font-size: 25px;
      font-style: italic;
      @media (max-width: $screen_sm) {
        font-size: 20px;
      }
    }

    .author {
      font-size: 25px;
    }
  }
}
