@import "src/styles/variables";
@import "src/styles/mixins";

.primary {
  @include body-font(16px, 400);
}

.secondary {
  @include secondary-font(16px, 400);
}

.light {
  color: $white;
}

.grey {
  color: $grey5;
}

.dark {
  color: $midnight-lagoon;
}

.danger {
  color: $failure;
}

.success {
  color: $success;
}

.primary-color {
  color: $primary-color;
}

.info {
  color: $info;
}

.midnight-lagoon {
  color: $midnight-lagoon;
}

.radical-plum {
  color: $radical-plum;
}

.oceanic {
  color: $oceanic;
}

.neon-blaze {
  color: $neon-blaze;
}

.normal {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.xxxs {
  font-size: 11px;
}

.xxs {
  font-size: 12px;
}

.xs {
  font-size: 14px;
}

.sm {
  font-size: 16px;
}

.md {
  font-size: 18px;
}

.lg {
  font-size: 20px;
}

.xl {
  font-size: 25px;
}

.xxl {
  font-size: 30px;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.justify {
  text-align: justify;
}

.noWrap {
  white-space: nowrap;
}
