@import "src/styles/variables";

.footer {
  background-color: #6f9e52;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    @media (max-width: $screen_sm) {
      display: block;
      padding: 0 5%;
    }

    .links {
      font-size: 20px;
      font-weight: 400;
      letter-spacing: -0.22px;
      line-height: 150%;
      margin-top: 33px;
      text-align: right;
      @media (max-width: $screen_sm) {
        text-align: left;
        font-size: 16px;
        margin: 16px 0 8px;
      }

      a {
        color: #ffffff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .linkedInBox {
      height: 41px;
      width: 41px;
      background-color: black;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .socialIcons {
      height: 41px;
      width: 229.6px;
    }
  }
  .copyright {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.165px;
    line-height: 150%;
    margin-top: 40px;
    text-align: center;
    @media (max-height: $screen_sm) {
      margin-top: 20px;
      font-size: 12px;
    }
  }
}
