@import "src/styles/variables";

.root {
  font-weight: 900 !important;
  letter-spacing: 3px;
}

.x-small {
  font-size: 2.25rem;
}

.small {
  font-size: 3.125rem;
}

.medium {
  font-size: 3.5rem;
}

.large {
  font-size: 4rem;
}

.x-large {
  font-size: 4.5rem;
}

@media (max-width: $screen_md) {
  .x-small {
    font-size: 2rem;
  }
  .small {
    font-size: 2.8rem;
  }
  .medium {
    font-size: 3.2rem;
  }
  .large {
    font-size: 3.6rem;
  }
  .x-large {
    font-size: 4rem;
  }
}

@media (max-width: $screen_sm) {
  .x-small {
    font-size: 1.8rem;
  }
  .small {
    font-size: 2.4rem;
  }
  .medium {
    font-size: 2.8rem;
  }
  .large {
    font-size: 3.2rem;
  }
  .x-large {
    font-size: 4rem;
  }
}
