@import "src/styles/variables";
@import "src/styles/mixins";

.root {
  word-wrap: break-word;
  font-weight: 700;
}

.primary {
  @include header-font();
}

.secondary {
  @include secondary-font();
}

.uppercase {
  text-transform: uppercase;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.normal {
  font-style: normal;
}

.italic {
  font-style: italic;
}

.light {
  color: $white;
}

.dark {
  color: $dark;
}

.midnight-lagoon {
  color: $midnight-lagoon;
}

.radical-plum {
  color: $radical-plum;
}

.oceanic {
  color: $oceanic;
}
