@import "src/styles/variables";

.logo {
  display: block;
  position: relative;
  height: 60px !important;
}

.header {
  height: 4.375rem;
  width: 15.625rem;
}

.footer {
  height: 1.5rem;
  width: 9.375rem;
}
