@import "src/styles/variables";

.logo {
  display: block;
  position: relative;
  max-height: 60px;
  aspect-ratio: 3.94;
}

.header {
  height: 4.375rem;
  @media (max-width: $screen_sm) {
    max-height: 30px;
  }
}

.footer {
  height: 4.375rem;
  aspect-ratio: 3.94;
}
