@import "src/styles/variables";

.logo {
  display: block;
  position: relative;
  height: 60px !important;
}

.header {
  height: 7rem;
  width: 25rem;
}

.footer {
  height: 2.4rem;
  width: 15rem;
}
