@import "src/styles/variables";
@import "src/styles/mixins";

.contributionForCaregiver {
  padding: 60px 0;
  text-align: center;
  .image {
    margin-top: 40px;
    width: 100%;
    max-height: 80vh;
    aspect-ratio: 0.9;
    @media (max-width: $screen_sm) {
      margin-top: 20px;
    }
    img {
      object-fit: contain;
    }
  }
}
