@import "src/styles/variables";
@import "src/styles/mixins";

.contributionForCaregiver {
  padding: 60px 0;
  text-align: center;
  .image {
    margin-top: 60px;
    width: 100%;
    aspect-ratio: 0.9;
  }
}
