@import "src/styles/variables";
@import "src/styles/mixins";
.root {
  background-color: #679749; // Green background color
  padding: 16px 32px;
  @media (max-width: $screen_sm) {
    padding: 12px 16px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  padding: 0 !important;
  color: #fff;
}

.logo {
  img {
    height: 40px;
  }
}

.text {
  color: #fff;
}
