/* src/components/Header/Header.module.scss */
.root {
  background-color: #679749; // Green background color
  padding: 16px 32px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  padding: 0;
}

.logo {
  img {
    height: 40px;
  }
}

// nav {
//   display: flex;
//   align-items: center;

//   ul {
//     display: flex;
//     gap: 24px;
//   }

//   li {
//     list-style: none;
//     a {
//       color: #fff;
//       text-decoration: none;
//       padding: 5px 10px;
//       &:hover {
//         text-decoration: underline;
//       }

//       &.active {
//         font-weight: bold;
//       }
//     }
//   }
// }

.text {
  color: #fff;
}
