@import "src/styles/variables";

.root {
  --swiper-theme-color: #{$primary};
  --swiper-pagination-bullet-inactive-color: #{$shade4};
  --swiper-pagination-bullet-inactive-opacity: 1;
  :global(.swiper-pagination) {
    :global(.swiper-pagination-bullet-active) {
      background: $white;
    }
    :global(.swiper-button-next) {
      right: 10rem;
    }
  }
}

.navButton {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 4.5rem;
  right: 2rem;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
  &.prev {
    left: 2rem;
  }
  &.next {
    right: 2rem;
  }
  & svg {
    width: 2.5rem;
    height: 2.5rem;
  }
}
