@import "src/styles/variables";

.footer {
  background-color: $neon-blaze;
  padding: 20px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

  @media (max-width: 768px) {
    padding: 20px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .logo {
    flex: 1;
    margin-top: 1.2rem;
  }

  .right {
    flex: 2;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .links {
    margin-left: 20px;
    font-weight: 700;
    font-size: 25px;
    text-align: right;

    @media (max-width: 768px) {
      text-align: center;
      margin: 10px 0;
    }
  }

  .socialIcons {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    margin-top: 12px;

    .icon {
      margin: 0 5px;
      height: 36px;
      width: 36px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .copyright {
    margin-top: 40px;
    font-size: 15px;
    text-align: center;
    color: white;
  }
}
