@import "src/styles/variables";

.root {
  position: relative;
  background-color: transparent;
  overflow: hidden;

  img {
    object-fit: contain;
    width: 100%; /* Adjust the image to take full width of the container */
    height: auto; /* Maintain the aspect ratio */
    text-align: center;
  }
}
