.joinSection {
  padding: 60px 0;
  text-align: center;
}

.joinText {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #733156ff;
}

.button {
  background: #ef4623;
  color: #ffffff;
  border-radius: 12px;
  padding: 18px 24px;
  &:hover {
    background-color: #d8441c;
  }
}
